<ion-header>

  <ion-navbar>
    <ion-title>Buscar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
    
    <ion-grid>
        <ion-row *ngFor="let pares of _ps.productos">
          <ion-col *ngFor="let item of pares"
                    (click)="seleccionar( item )">
              <img [src]=" item.codigo | imagen">
              <p>
                  {{ item.producto }}
                  <br>
                  {{ item.precio_compra | currency:'USD':true }}
              </p>
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-infinite-scroll (ionInfinite)="siguiente_pagina($event)" [enabled]="hayMas">
       <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
